{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="bi bi-house-fill"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Serive client</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mention légale</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="page">
            <div class="container">
                <div class="row mt-lg-5">
                    <div class="col mb-5">
                        <h5 class="titre-page mb-4">{{ mention ? mention.titre : "Aucune mention légale enregistrée"}}</h5>
                        <div style="text-align:justify; font-style:italic;">
                            {{ mention ? mention.contenu|raw : '' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block title %}Mention légale de la plateforme Chakane.net{% endblock %}

    {% block metas %}
        <link rel="alternate" href="{{ absolute_url(path('app_home')) }}" hreflang="fr">

        <meta name="keywords" content="Chakane, vetement, sac, accessoire, ecommerce, boutique">
        <meta name="description" content="Tous les contenus présents sur Chakane.net, tels que les textes, les images, les vidéos, les logos, sont la propriété exclusive de CHAKANE ou de ses partenaires. Toute reproduction, distribution, modification ou utilisation sans autorisation écrite est strictement interdite." />
        <link rel="canonical" href="{{ absolute_url(path('app_frontend_mentionlegale_index')) }}" />
        <link rel="next" href="#" />

        <meta property="og:locale" content="fr_FR" />
        <meta property="og:locale:alternate" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ mention ? mention.titre : 'chakane' }}" />
        <meta property="og:description" content="Tous les contenus présents sur Chakane.net, tels que les textes, les images, les vidéos, les logos, sont la propriété exclusive de CHAKANE ou de ses partenaires. Toute reproduction, distribution, modification ou utilisation sans autorisation écrite est strictement interdite." />
        <meta property="og:url" content="{{ absolute_url(path('app_frontend_mentionlegale_index')) }}" />
        <meta property="og:site_name" content="Chakane" />
        <meta property="article:created_time" content="{{ mention ? mention.updatedAt|date('Y-m-d') : '2023-07-16' }}T{{ mention ? mention.updatedAt|date('H:i:s') : '00:00:00' }}+00:00" />
        <meta property="og:image" content="{{ absolute_url(asset('asset/img/logo_black.png')) }}" />
        <meta property="og:image:type" content="image/svg+xml" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Tous les contenus présents sur Chakane.net, tels que les textes, les images, les vidéos, les logos, sont la propriété exclusive de CHAKANE ou de ses partenaires. Toute reproduction, distribution, modification ou utilisation sans autorisation écrite est strictement interdite."/>
        <meta name="twitter:title" content="{{ mention ? mention.titre : 'chakane' }}"/>
        <meta name="twitter:domain" content="Chakane"/>
        <meta name="twitter:image:src" content="{{ absolute_url(asset('asset/img/logo_black.png')) }}"/>
    {% endblock %}

