{{ form_start(form) }}
<div class="row">
    <div class="col-12 mt-3">{{ form_row(form.titre) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.contenu) }}</div>
    <div class="col-12 mt-3">
        {{ form_widget(form.statut) }}
        {{ form_label(form.statut, condition_retour.statut ? 'Désactiver': 'Activer') }}
    </div>
</div>
{{ form_widget(form) }}

<div class="row mt-5">
    <div class="col text-end">
        <a href="{{ absolute_url(path('app_backend_condition_retour_index')) }}" class="btn btn-outline-secondary">Annuler</a>
        <button type="submit" class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
    </div>
</div>
{{ form_end(form) }}
