{% extends 'base.html.twig' %}

{% block title %}ConditionRetour index{% endblock %}

{% block body %}
    <h1>ConditionRetour index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Statut</th>
                <th>UpdatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condition_retour in condition_retours %}
            <tr>
                <td>{{ condition_retour.id }}</td>
                <td>{{ condition_retour.titre }}</td>
                <td>{{ condition_retour.contenu }}</td>
                <td>{{ condition_retour.statut ? 'Yes' : 'No' }}</td>
                <td>{{ condition_retour.updatedAt ? condition_retour.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ condition_retour.slug }}</td>
                <td>
                    <a href="{{ path('app_backend_condition_retour_show', {'id': condition_retour.id}) }}">show</a>
                    <a href="{{ path('app_backend_condition_retour_edit', {'id': condition_retour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backend_condition_retour_new') }}">Create new</a>
{% endblock %}
