{% extends 'backend_layout.html.twig' %}

{% block title %}{{ parent() }} Gestion de la liste des categories{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
            <div class="card-body px-4 py-3">
                <div class="row align-items-center">
                    <div class="col-9">
                        <h4 class="fw-semibold mb-8">Gestion des categories</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Modules</a></li>
                                <li class="breadcrumb-item"><a class="text-muted" href="#">Produits</a></li>
                                <li class="breadcrumb-item" aria-current="page">categories</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-3">
                        <div class="text-center mb-n5">
                            <span class="head-icon"><i class="ti-package"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h5 class="mb-2 fw-semibold fs-4">Liste</h5></div>
                                <div class="col">
                                    <div class="action">
                                        <a href="{{ absolute_url(path('app_backend_produit_index')) }}" class="btn btn-outline-secondary">
                                            <i class="ti-file"></i> &nbsp; Tableau
                                        </a>
                                        <a href="{{ absolute_url(path('app_backend_produit_liste')) }}" class="btn btn-outline-primary">
                                            <i class="ti-list"></i> &nbsp; Liste
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            {{ include('backend_produit_image/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="{{ absolute_url(asset('asset/js/upload-init.js')) }}"></script>
{% endblock %}
