{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} accueil{% endblock %}
{% block body %}

    <main>
        <div class="slideBar">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
{#                    {% for slide in slides %}#}
{#                        <div class="swiper-slide">#}
{#                            <img src="{{ absolute_url(asset('upload/slides/' ~ slide.media)) }}" alt="{{ slide.titre }}" loading="lazy">#}
{#                            <div class="content d-flex justify-content-center">#}
{#                                <div class="container">#}
{#                                    <h1 class="titre">{{ slide.titre }}</h1>#}
{#                                    <p class="description">{{ slide.description|raw }}</p>#}
{#                                </div>#}
{#                            </div>#}

{#                        </div>#}
{#                    {% endfor %}#}

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <div class="categorie">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 categorie-lg">
                        <div class="card-group">
                            <div class="card">
                                <a href="#" class="text-muted text-center">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1634826260499-7d97a6049913?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80" class="card-img-top" alt="..." loading="lazy">
                                    </figure>
                                    <div class="card-footer">Vêtements</div>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#" class="text-muted text-center">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1617038220319-276d3cfab638?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="..." loading="lazy">
                                    </figure>
                                    <div class="card-footer">Accessoires</div>
                                </a>
                            </div>
                            <div class="card">
                                <a href="#" class="text-muted text-center">
                                    <figure>
                                        <img src="https://images.unsplash.com/photo-1590874103328-eac38a683ce7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=738&q=80" class="card-img-top" alt="..." loading="lazy">
                                    </figure>
                                    <div class="card-footer">Sacs</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nouveaute">
            <div class="container">
                <h2 class="label">
                    Nouveauté
                    <span class="plus">
                    <a href="{{ absolute_url(path('app_frontend_produit_details', {'slug': 'nouveaux-produits'})) }}">Tous les articles <i class="bi bi-chevron-double-right"></i></a>
                  </span>
                </h2>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 article">

                    {% for produit in news_produits|slice(0,4) %}
                        {% if produit.solde %}
                            {% set remise = 100 - (produit.solde * 100 / produit.montant) %}
                        {% else %}
                            {% set remise = 0 %}
                        {% endif %}
                        <div class="col">
                            <a href="{{ absolute_url(path('app_frontend_produit_details', {'slug': produit.slug})) }}">
                                <div class="card h-100">
                                    <figure>
                                        <img src="{{ asset('asset/img/loading2.gif') }}" data-src="{{ absolute_url(asset('upload/produits/' ~ produit.media)) }}" class="card-img-top lazy-load" alt="{{ produit.titre }}" loading="lazy">
                                        <!--<span class="sticker info">Nouveauté</span>-->
                                        {{ produit.solde ? ('<span class="sticker remise">-'~remise|number_format(0,'','')~'%</span>')|raw }}

                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title prix">
                                            {% if produit.solde %}
                                                <ins>{{ produit.solde}} {{ devise_ext|raw }}</ins>
                                                <del>{{ produit.montant}} {{ devise_ext|raw }}</del>
                                            {% else %}
                                                <ins>{{ produit.montant }} {{ devise_ext|raw }}</ins>
                                            {% endif %}
                                        </h5>
                                        <p class="description">{{ produit.titre }}</p>
                                        <div class="evaluations">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="baniere">
            <div class="container">
                <div class="row row-cols-12 row-cols-1 row-cols-lg-2 mt-5 mb-5">
                    {% for collection in collections|slice(0,2) %}
                        <div class="col affiche">
                            <figure>
                                <img src="{{ collection.media ? absolute_url(asset('upload/collections/' ~ collection.media)) : absolute_url(asset('asset/img/affiche/banner_sac.png.png')) }}" alt="{{ collection.titre }}" class="img-fluid" loading="lazy">
                            </figure>
                            <div class="description">
                                <h3>{{ collection.titre }}</h3>
                                <div class="resume mode">
                                    {{ collection.contenu ? collection.contenu|slice(0,150)|raw : '' }}{{ collection.contenu ? '...' : '' }}
                                </div>
                                <a href="{{ absolute_url(path('app_frontend_collection_show',{'slug': collection.slug})) }}" class="details">Détails</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="boutique">
            <div class="container">
                <h2 class="label">
                    En boutique
                    <span class="plus">
                    <a href="{{ absolute_url(path('app_frontend_produit_details', {'slug': 'tous-les-produits'})) }}">Tous les articles <i class="bi bi-chevron-double-right"></i></a>
                  </span>
                </h2>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 article">

                    {% for produit in produits|slice(0,10) %}
                        {% if produit.solde %}
                            {% set remise = 100 - (produit.solde * 100 / produit.montant) %}
                        {% else %}
                            {% set remise = 0 %}
                        {% endif %}
                        <div class="col">
                            <a href="{{ absolute_url(path('app_frontend_produit_details',{slug: produit.slug})) }}">
                                <div class="card h-100">
                                    <figure>
                                        <img src="{{ asset('asset/img/loading2.gif') }}" data-src="{{ absolute_url(asset('upload/produits/' ~ produit.media)) }}" class="card-img-top lazy-load loading-animation" alt="{{ produit.titre }}" loading="lazy">
                                        <!--<span class="sticker info">Nouveauté</span>-->
                                        {{ produit.solde ? ('<span class="sticker remise">-'~remise|number_format(0,'','')~'%</span>')|raw }}

                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title prix">
                                            {% if produit.solde %}
                                                <ins>{{ produit.solde}} {{ devise_ext|raw }}</ins>
                                                <del>{{ produit.montant}} {{ devise_ext|raw }}</del>
                                            {% else %}
                                                <ins>{{ produit.montant }} {{ devise_ext|raw }}</ins>
                                            {% endif %}
                                        </h5>
                                        <p class="description">{{ produit.titre }}</p>
                                        <div class="evaluations">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>

        <div class="creation">
            <div class="container">
                <h2 class="label">
                    Nos créations en image
                    <span class="plus">
                    <a href="#">Tous les articles de la boutique <i class="bi bi-chevron-double-right"></i></a>
                  </span>
                </h2>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-0">
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=720&q=80" class="card-img-top creation"
                                 data-gall="creation" alt="..."
                                 data-href="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=720&q=80">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1545291730-faff8ca1d4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top creation"
                                 data-gall="creation" alt="..."
                                 data-href="https://images.unsplash.com/photo-1545291730-faff8ca1d4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1517252070983-985dc55929e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top creation"
                                 data-gall="creation" alt="..."
                                 data-href="https://images.unsplash.com/photo-1517252070983-985dc55929e4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1517251848771-5327b4c0f46d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top creation"
                                 data-gall="creation" alt="..."
                                 data-href="https://images.unsplash.com/photo-1517251848771-5327b4c0f46d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1485462537746-965f33f7f6a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top creation"
                                 data-gall="creation" alt="..."
                                 data-href="https://images.unsplash.com/photo-1485462537746-965f33f7f6a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1578632292335-df3abbb0d586?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top creation"
                                 data-gall="creation" alt="..."
                                 data-href="https://images.unsplash.com/photo-1578632292335-df3abbb0d586?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            fetchSlides();
        })
        function fetchSlides() {
            $.ajax({
                url: '{{ absolute_url(path('app_api_slide_list')) }}',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    displaySlides(data)
                },
                error: function (error) {
                    console.error('Erreur lors de la récupération des slides : ', error)
                }
            })
        }
        function displaySlides(slides) {
            var swiperWrapper = $('.swiper-wrapper');

            slides.forEach(function (slide) {
                var slideDiv = $('<div>').addClass('swiper-slide');
                var img = $('<img>')
                    .attr('data-src', '{{ absolute_url(asset('upload/slides/')) }}' + slide.media)
                    .attr('alt', slide.titre)
                    .attr('loading', 'lazy')
                    .addClass('lazy-load')
                ;
                var contentDiv = $('<div>').addClass('content d-flex justify-content-center');
                var containerDiv = $('<div>').addClass('container');
                var titreH1 = $('<h1>').addClass('titre').text(slide.titre);
                var descriptionP = $('<p>').addClass('description').html(slide.description);
                // var detailsLink = $('<a>').attr('href', '#').addClass('details').text('Détails');

                // containerDiv.append(titreH1).append(descriptionP).append(detailsLink);
                containerDiv.append(titreH1).append(descriptionP);
                contentDiv.append(containerDiv);
                slideDiv.append(img).append(contentDiv);
                swiperWrapper.append(slideDiv);
            });

            // Initialize the swiper after adding slides dynamically
            var swiper = new Swiper(".mySwiper", {
                spaceBetween: 30,
                centeredSlides: true,
                autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                effect: 'creative',
                creativeEffect:{
                    prev: {
                        // will set `translateZ(-400px)` on previous slides
                        translate: [0, 0, -400],
                    },
                    next: {
                        // will set `translateX(100%)` on next slides
                        translate: ['100%', 0, 0],
                    },
                }
            });

            // Chargement des images au besoin lorsque l'utilisateur interagit avec les slides
            var lazyLoadImages = document.querySelectorAll('.lazy-load');
            lazyLoadImages.forEach(function (img) {
                var observer = new IntersectionObserver(function (entries) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            var lazyImg = entry.target;
                            lazyImg.src = lazyImg.dataset.src;
                            lazyImg.classList.remove('loading-animation');
                            observer.unobserve(lazyImg);
                        }
                    });
                });

                observer.observe(img);
            });
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            if ((window.innerWidth > 1023) && (window.innerWidth < 1279)){
                var limiteCarateres = 85;
            }else{
                var limiteCarateres = 150;
            }

            console.log(limiteCarateres)

            let mode = document.querySelector('.resume.mode');
            let sac = document.querySelector('.resume.sac');

            let texteMode = mode.innerHTML;
            let texteSac = sac.innerHTML;

            if (texteMode.length > limiteCarateres) {
                texteMode = texteMode.substr(0, limiteCarateres) + "...";
            }

            if (texteSac.length > limiteCarateres) {
                texteSac = texteSac.substr(0, limiteCarateres) + "...";
            }

            mode.innerHTML = texteMode;
            sac.innerHTML = texteSac;
        });
    </script>
{%  endblock %}