{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <main>
        <div class="breadcrumb">
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="bi bi-house-fill"></i></a></li>
                        {% if page %}
                            <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_frontend_produit_details', {'slug': 'tous-les-produits'})) }}">Catégories</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page|title }}</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">{{ categorie }}</li>
                        {% endif %}

                    </ol>
                </nav>
            </div>
        </div>

        <div class="boutique liste">
            <div class="container">
                <h4 class="categorie">
                    {% if titre == 'Catégories sacs' %}
                        Catégories sacs & accessoires
                    {% else %}
                        {{ titre }}
                    {% endif %}
                </h4>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-2 gy-4 article">
                    {% for produit in produits %}
                        {% if produit.solde %}
                            {% set remise = 100 - (produit.solde * 100 / produit.montant) %}
                        {% else %}
                            {% set remise = 0 %}
                        {% endif %}
                        <div class="col">
                            <a href="{{ absolute_url(path('app_frontend_produit_details',{slug: produit.slug})) }}">
                                <div class="card h-100">
                                    <figure>
                                        <img src="{{ asset('asset/img/loading2.gif') }}" data-src="{{ absolute_url(asset('upload/produits/' ~ produit.media)) }}" class="card-img-top lazy-load loading-animation" alt="{{ produit.titre }}" loading="lazy">
                                        <!--<span class="sticker info">Nouveauté</span>-->
                                        {{ produit.solde ? ('<span class="sticker remise">-'~remise|number_format(0,'','')~'%</span>')|raw }}

                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title prix">
                                            {% if produit.solde %}
                                                <ins>{{ produit.solde}} {{ devise_ext|raw }}</ins>
                                                <del>{{ produit.montant}} {{ devise_ext|raw }}</del>
                                            {% else %}
                                                <ins>{{ produit.montant }} {{ devise_ext|raw }}</ins>
                                            {% endif %}
                                        </h5>
                                        <p class="description">{{ produit.titre }}</p>
                                        <div class="evaluations">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                            <span>0</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>

                <div class="pagination d-flex justify-content-center mt-4">
                    {{ knp_pagination_render(produits) }}
                </div>

            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Chargement des images au besoin lorsque l'utilisateur interagit avec les slides
            var lazyLoadImages = document.querySelectorAll('.lazy-load');
            lazyLoadImages.forEach(function (img) {
                var observer = new IntersectionObserver(function (entries) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            var lazyImg = entry.target;
                            lazyImg.src = lazyImg.dataset.src;
                            lazyImg.classList.remove('loading-animation');
                            observer.unobserve(lazyImg);
                        }
                    });
                });

                observer.observe(img);
            });
        })
    </script>
{% endblock %}
