{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ type.code }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ type.titre }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ type.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_backend_type_index') }}">back to list</a>

    <a href="{{ path('app_backend_type_edit', {'id': type.id}) }}">edit</a>

    {{ include('backend_type/_delete_form.html.twig') }}
{% endblock %}
